*.suo
*.user
*.userosscache
*.sln.docstates
ipch/
*.aps
*.ncb
*.opensdf
*.sdf
*.cachefile
*.pssess
*.vsp
*.vspx
*.log
*.tlog
*.bmp
*.res
*.lastbuildstate
*.obj
*.pch
*.unsuccessfulbuild
*.pdb
*.idb
*.exe
*.ilk
*.recipe
Release/

